body {
  padding: 0;
  margin: 0;
  background-color: black;
}

.body-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.items-container {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

canvas {
  border: 5px solid lightgrey;
  margin-top: 50px;
  margin: 20px;
}

h1, h2, h3, h4, h5, p {
  font-family: monospace;
  font-weight: lighter;
  color: white;
}

.rules-container {
  width: 1050px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.how-to-play {
  width: 45%;
  display: flex;
  flex-direction: column;
  background: #303030;
  padding: 15px;
  border: 5px solid lightgrey;
}

.h-to-p-header {
  margin-left: 160px;
}

.controls-header {
  margin-left: 180px;
}

strong {
  color: red;
}

.icons {
	position: fixed;
}

.icon-container {
	margin-left: 10px;
	margin-top: 10px;
}

.icon {
	height: 30px;
	margin: 5px;
}

.expand-box {
  display: none;
}

.rules-container:hover .how-to-play .expand-box {
  display: block;
}

.revelation { display: inline-block; transition: transform 2s; -webkit-transition: transform 2s; }
.revelation .secret { display: none; }
.revelation:hover, .revelation:active, .revelation:focus {
	cursor: pointer;
	-ms-transform: scale(1.25,1.25); /* IE 9 */
	-webkit-transform: scale(1.25,1.25); /* Safari */
	transform: scale(1.25,1.25); /* Standard syntax */
}
.revelation:hover .secret, .revelation:active .secret, .revelation:focus .secret { display: block; }
